
html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

/* Fullscreen div styles */
.fullscreen-div {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
